{% extends "election_page.html" %}
{% load i18n zeus_tags %}
{% block title %}{{election.name}}{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
            <table class="info-table reports-table" id="elections-table">
            <thead>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "ID Number" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Group" %}</th>
                <th>{% trans "Presentation" %}</th>
                <th>{% trans "Applications" %}</th>
                <th>{% trans "Confirmed" %}</th>
                <th>{% trans "Delete" %}</th>
            </thead>
            {% for application in election.applications.all %}
                <tbody>
                    <tr>
                        <td>{{application.name}}</td>
                        <td>{{application.surname}}</td>
                        <td>{{application.number}}</td>
                        <td>{{application.email}}</td>
                        <td>{{application.get_group_display}}</td>
                        <td>{{application.presentation}}</td>
                        <td>{{application.submitted_at|date:"Y-m-d H:i"}}</td>
                        {% if application.is_confirmed %}
                         <td>{% trans "Yes" %} {{application.confirmed_at|date:"Y-m-d H:i"}}</td>
                        {% else %}
                         <td>{% trans "No" %}</td>
                        {% endif %}
                        <td><a href="{% url "form_deleted" election.uuid application.uuid %}">{% trans "Delete" %}</a></td>
                    </tr>
                </tbody>
                {% empty %}
                    <tr>
                        <td colspan=7>{% trans "No results found" %}</td>
                    </tr>
        {% endfor %}
        </table>
  </div>
</div>
{% endblock %}
