{% extends "server_ui/templates/base.html" %}
{% load i18n %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h4>{% trans "Archive" %}</h4>
    {% block past-elections-list %}
        <div class="table-responsive">
                <table class="table table-striped table-hover" id="elections-table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">{% trans "Name" %}</th>
                        <th scope="col">{% trans "Voting start" %}</th>
                        <th scope="col">{% trans "Voting end" %}</th>
                        <th scope="col">{% trans "Results" %}</th>
                        <th scope="col">{% trans "Presentations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for election in elections %}
                        <tr>
                            <td>{{ election.name }}</td>
                            <td>{{ election.voting_starts_at|date:"Y-m-d H:i" }}</td>
                            <td>{{ election.voting_ends_at|date:"Y-m-d H:i" }}</td>
                            <td><a href="/elections/{{ election.uuid }}/results" class="btn btn-sm btn-primary">{% trans "Results" %}</a></td>
                            <td><a href="/elections/{{ election.uuid }}/presentations" class="btn btn-sm btn-secondary">{% trans "Presentations" %}</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">{% trans "No results found" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
