{% extends "server_ui/templates/base.html" %}
{% load i18n %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    <h4>{% trans "Archive" %}</h4>
    {% block past-elections-list %}
        <table class="info-table reports-table" id="elections-table">
            <thead>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Voting start" %}</th>
                <th>{% trans "Voting end" %}</th>
                <th>{% trans "Results" %}</th>
                <th>{% trans "Presentations" %}</th>
            </thead>
            <tbody>
                {% for election in elections %}
                    <tr>
                        <td>{{election.name}}</td>
                        <td>{{election.voting_starts_at|date:"Y-m-d H:i"}}</td>
                        <td>{{election.voting_ends_at|date:"Y-m-d H:i"}}</td>
                        <td><a href="/elections/{{election.uuid}}/results">{% trans "Results" %}</a></td>
                        <td><a href="/elections/{{election.uuid}}/presentations">{% trans "Presentations" %}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=7>{% trans "No results found" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
  </div>
</div>
{% endblock %}
