{% extends 'server_ui/templates/base.html' %}
{% load i18n pagination_tags zeus_tags %}

{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block content %}

{% if password_changed %}
<div class="alert alert-success">
    {% trans "Your new password was set." %}
</div>
{% endif %}

<h4>Elections</h4>

<div class="col-12">
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="elections-table">
            <thead class="table-dark">
                <tr>
                    {% for key, value in election_table_headers %}
                        {% if key != 'official' or is_superadmin %}
                            <th>{{ value }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for election in elections_administered %}
                <tr>
                    <td>
                        <a href="{% url "election_index" election.uuid %}">
                            {{ election.name }}
                        </a>
                    </td>
                    <td>{{ election.institution.name }}</td>
                    <td>{{ election.admins.all.0.info.name }}</td>
                    <td>{{ election.created_at }}</td>
                    <td>{{ election.voting_starts_at }}</td>
                    <td>
                        {% if election.voting_extended_until %}
                            {{ election.voting_extended_until }}
                        {% else %}
                            {{ election.voting_ends_at }}
                        {% endif %}
                    </td>
                    <td class="{% if election.feature_canceled %}alert{% endif %}">
                        {{ election.status_display }}
                    </td>
                    <td>
                        {% if election.trial %}
                            {% trans "YES" %}
                        {% else %}
                            {% trans "NO" %}
                        {% endif %}
                    </td>
                    <td>{% trans "YES" %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
