{% load i18n %}
<form id="lang-switch" action="{% url "set_language" %}" method="post">
{% csrf_token %}
<input name="next" type="hidden"
value="{% if redirect_to %}{{ redirect_to }}{% else %}{{ request.get_full_path }}{% endif %}" />
<ul class="languages">
{% get_language_info_list for LANGUAGES as languages %}
</ul>
<input type="hidden" name="language" value="{{ LANGUAGE_CODE }}" />
<input type="submit" value="{% trans "Change language" %}" style="display: none"/>
<script>
$(document).ready(function() {
  $("form#lang-switch ul.languages li").click(function(e) {
    var code =  $(this).data("code");
    $("input[name=language]").val(code);
    $("form#lang-switch").submit();
  });
});
</script>
</form>