{% extends TEMPLATE_BASE %} 

{% load remember_filters crispy_forms_tags %}
{% load i18n %}


{% block content %}
<style>
ul#id_election_types li { float: left; display: block; margin-right: 5px; }
ul#id_election_types { list-style: none; clear: both; }
ul#id_election_types:after { content: ""; clear:both; display: table }
</style>
{{messages.error}}
<form action='' method='POST'>
{% csrf_token %}
{{form|crispy}}

<label id="sub_button"></label>
<input id="sub_button" type='submit' class="btn btn-secondary" value={% trans "Save" %}>
</form>

{% endblock content%}
