{% extends TEMPLATE_BASE %}

{% load i18n%}

{% block content %}
{% if u_data %}    
    
    {%trans "Please confirm the password reset of user "%}<b>{{u_data.user_id}}</b>
    </br></br>
    <a class="btn btn-secondary" href=
    {% url "reset_password_confirmed" %}?uid={{u_data.id}}>
    {% trans "Yes, I confirm!" %}</a>
    <a class="btn btn-secondary" href={% url "user_management" %}?uid={{u_data.id}}>
    {% trans "Back" %}</a>

{% else %}
    
    {% trans "You didn't choose a user." %}
    </br></br>
        
    <a class="btn btn-secondary" href={% url "list_users" %}>{% trans "Back" %}</a>

{% endif %}
{% endblock %}
