{% load i18n %}

<h4>{{ election.description }}</h4>

<div class="table-responsive">
  <table class="table table-striped table-hover" id="elections-table">
    <thead class="table-dark">
      <tr>
        <th>{% trans "Voting starts at" %}</th>
        <th>{% trans "Voting ends at" %}</th>
        <th>{% trans "Voters count" %}</th>
        {% if not poll %}
        <th>{% trans "Polls count" %}</th>
        {% endif %}
        <th>{% trans "Election support email" %}</th>
        <th>{% trans "Election support phone" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ election.voting_starts_at }}</td>
        <td>{{ election.voting_end_date }}</td>
        {% if poll %}
        <td>{{ poll.voters.count }}</td>
        {% else %}
        <td>{{ election.voters.filter.count }}</td>
        <td>{{ election.polls.count }}</td>
        {% endif %}
        <td>{{ election.help_email }}</td>
        <td>{{ election.help_phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
