{% load i18n %}

<ul class="navbar-nav me-auto">

  {% if poll and voter %}
    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'election' %}active{% endif %}" 
         href="{% url 'election_poll_index' election.uuid poll.uuid %}">
        {% trans "Election information" %}
      </a>
    </li>

    {% if election.feature_completed and not election.feature_canceled and poll.feature_public_results %}
      <li class="nav-item">
        <a class="nav-link {% if menu_active == 'results' %}active{% endif %}" 
           href="{% url 'election_poll_results' election.uuid poll.uuid %}">
          {% trans "Results" %}
        </a>
      </li>
    {% endif %}

    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'questions' %}active{% endif %}" 
         href="{% url 'election_poll_questions' election.uuid poll.uuid %}">
        {{ poll.get_module.questions_title_message }}
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'trustees' %}active{% endif %}" 
         href="{% url 'election_trustees_list' election.uuid %}">
        {% trans "Trustees list" %}
      </a>
    </li>

    {% if poll.audits_cast > 0 %}
      <li class="nav-item">
        <a class="nav-link {% if menu_active == 'audited_ballots' %}active{% endif %}" 
           href="{% url 'election_poll_audited_ballots' election.uuid poll.uuid %}">
          {% trans "Audited ballots" %}
        </a>
      </li>
    {% endif %}

  {% else %}
    {% if admin and election.feature_can_edit %}
      <li class="nav-item">
        <a class="nav-link {% if menu_active == 'election_edit' %}active{% endif %}" 
           href="{% url 'election_edit' election.uuid %}">
          {% trans "Edit election" %}
        </a>
      </li>
    {% endif %}

    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'election' %}active{% endif %}" 
         href="{% url 'election_index' election.uuid %}">
        {% if user.is_admin %}
          {% trans "Election admin actions" %}
        {% else %}
          {% trans "Information" %}
        {% endif %}
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'polls' or poll %}active{% endif %}" 
         href="{% url 'election_polls_list' election.uuid %}">
        {% trans "Polls" %}
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'trustees' %}active{% endif %}" 
         href="{% url 'election_trustees_list' election.uuid %}">
        {% trans "Trustees list" %}
      </a>
    </li>
  {% endif %}

  {% if poll and poll.audited_ballots.filter.confirmed.count > 0 %}
    <li class="nav-item">
      <a class="nav-link {% if menu_active == 'audited_ballots' %}active{% endif %}" 
         href="{% url 'election_poll_audited_ballots' election.uuid poll.uuid %}">
        {% trans "Audited ballots" %}
      </a>
    </li>
  {% endif %}

  <li class="nav-item">
    <a class="nav-link {% if menu_active == 'applications' %}active{% endif %}" 
       href="{% url 'election_applications' election.uuid %}">
      {% trans "Applications" %}
    </a>
  </li>

</ul>
