{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}
{% block title %}{{election.name}}: {% trans "Election Polls" %}{% endblock %}
{% block tabs_menu %}
{% endblock %}
{% block content %}

<div class="section">
    {% if election.polls.count %}
    <div class="row">
  <div class="columns six">
  </div>
  <div class="columns twelve">
   {% if admin and election.any_poll_feature_can_send_voter_mail %}
        <div href="#" class="button medium dropdown" style="float:right;">
            {% trans "Batch polls actions" %}&nbsp;
            <ul>
            {% url "election_voters_email" election.uuid as email_url %}
            {% trans "Notify voters" as label %}
            <li>
            <a style="" class="foundicon-mail" 
                href="{% url "election_voters_email" election.uuid %}">
                &nbsp;{% trans "Notify voters" %}</a>
            </li>
          </ul>
        </div>
    {% endif %}
</div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
        <th>{% trans "name" %}</th>
        <th>{% trans "status" %}</th>
        <th>{% trans "ballot size" %}</th>
        <th>{% trans "voters registered" %}</th>
        <th>{% trans "voters invited" %}</th>
        <th>{% trans "voters voted" %}</th>
        {% if user.superadmin_p %}
        <th>{% trans "votes" %}</th>
        <th>{% trans "last vote" %}</th>
        {% endif %}
        <th>{% trans "select action" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for poll in polls %}
    <tr data-uuid="{{ poll.uuid }}">
      <td>
          {% if not poll.feature_can_edit %}
              {{ poll.name }}
          {% else %}
              <a href="{% url "election_poll_edit" election.uuid poll.uuid%}">{{poll.name}}</a>
          {% endif %}
      </td>
      <td>
          {{ poll.status_display }}
          {% if poll.feature_compute_results_finished %}
          <a href="{% url "election_poll_results" election.uuid poll.uuid %}">
              {% trans "Results" %}</a>
          {% endif %}
      </td>
      <td><a href="{% url "election_poll_questions" election.uuid poll.uuid %}">
          {{ poll.questions_count }}
      </a></td>
      <td><a href="{% url "election_poll_voters" election.uuid poll.uuid %}">
          {{ poll.voters.count }}
      </a></td>
      <td>{{ poll.voters.filter.invited.count }}</td>
      <td>{{ poll.voters.filter.cast.count }}</td>
      {% if user.superadmin_p %}
      <td>{{ poll.cast_votes.count }}</td>
      <td>{{ poll.last_cast_date }}</td>
      {% endif %}
      <td class="position-static">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                {% trans "Actions" %}
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'election_poll_edit' election.uuid poll.uuid%}">{% trans "Edit poll" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'election_poll_voters' election.uuid poll.uuid %}">{% trans "Manage voters" %}</a></li>
            {% if poll.feature_can_manage_questions %}
            <li><a class="dropdown-item" href="{% url 'election_poll_questions_manage' election.uuid poll.uuid %}">{% trans "Manage questions" %}</a></li>
            {% endif %}
            {% if poll.feature_can_remove %}
            <li><a class="dropdown-item" href="{% url 'election_poll_remove' election.uuid poll.uuid as delete_url %}">{% trans "Delete poll" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </td>
    <tr>
        {% if poll.remote_login %}
            <td class="remote-login-info" colspan=7>
            {{poll.remote_login_display}}
            </td>
        {% endif %}
    </tr>
    </tr>
    {% endfor %}
</tbody>
{% if poll.count > 1 %}
<tfoot>
    <td>
    {% trans "Totals" %}
    </td>
    <td></td>
    <td>{{ election.questions_count }}</td>
    <td>{{ election.voters.count }}</td>
    <td>{{ election.voters.invited.count }}</td>
    {% if user.superadmin_p %}
    <td>{{ election.voters.cast.count }}</td>
    <td></td>
    {% endif %}
    <td>{{ election.cast_votes.filter.not_excluded.distinct_voter.count }}</td>
    <td></td>
</tfoot>
{% endif %}
</table>
{% endif %}
</div>
{% if election.feature_can_add_poll %}
<a class="btn btn-primary" href="{% url "election_polls_add" election.uuid %}">
{% trans "Add poll" %}</a>
<a class="btn btn-primary" href="{% url "election_polls_generate" election.uuid %}">
{% trans "Generate polls from applications" %}</a>
{% endif %}
{% endblock %}
