{% extends "election_page.html" %}
{% load i18n zeus_tags %}

{% block page_css %}election-page{% endblock %}

{% block extra_title %}
{{ block.super }}
{% endblock %}

{% block tabs_menu %}
{% include ".html" %}
{% endblock %}

{% block content %}
<div class="row">
{% if not election.feature_closed %}
{% include "_election_extended_notice.html" %}
{% else %}
{% if not election.feature_completed %}
<div class="columns twelve">
<div class="alert-box secondary">
{% blocktrans with date=election.voting_ended_at %}
Election closed at <em>{{ date }}</em>. Waiting for results.
{% endblocktrans %}
</div>
</div>
{% endif %}
{% endif %}
</div>
{% include "_election_information.html" %}

{% if admin %}
{% set_election_issues election %}
{% if election_issues_list or polls_issues_list %}
    <div class="col-12 admin-freeze-issues">
        <h5>
            {% trans "Problems" %}
        </h5>
        {% include "_freeze_issues.html" %}
    </div>
{% endif %}
{% endif %}
<div class="col-12 election-actions" data-status="{{election.status_display}}">
{% if admin %}
{% include "_election_admin_actions.html" %}
{% endif %}
{% if voter %}
{% include "_election_voter_actions.html" %}
{% endif %}
</div>

{% endblock %}
