{% extends "election_page.html" %}
{% load i18n zeus_tags %}
{% block title %}{{election.name}}{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

<h4>Trustees</h4>

{% if not trustees|length %}
{% else %}
{% for t in trustees %}
<div class="accordion" id="accordion-{{ t.uuid }}">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ t.uuid }}" aria-expanded="true" aria-controls="collapse-{{ t.uuid }}">
                {{ t.name }}
            </button>
        </h2>
        <div id="collapse-{{ t.uuid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ t.uuid }}">
            <div class="accordion-body">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% trans "Email" %}: {{ t.email }}</li>
                        {% if admin %}
                            {% if t.public_key_hash %}
                                <li class="list-group-item">{% trans "Trustee election identifier" %}: {{t.public_key_hash}}</li>
                                {% if not t.last_verified_key_at %}
                                    <li class="list-group-item">{% trans "Trustee key not verified" %}</li>
                                {% else %}
                                    <li class="list-group-item">{% trans "Trustee key verified" %}</li>
                                    {% if t.partial_decryptions.all %}
                                        <li class="list-group-item">{% trans "Polls decrypted" %}: {{t.partial_decryptions.all.count}}/{{election.polls.all.count}}</li>
                                    {% else %}
                                        {% if election.any_poll_feature_can_partial_decrypt %}
                                            <li class="list-group-item">{% trans "No polls decrypted" %}</li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <li class="list-group-item">{% trans "No trustee election key set" %}</li>
                            {% endif %}
                            {% if election.feature_can_send_trustee_email %}
                                <li class="list-group-item">{% trans "Trustee last notified at" %}: {{ t.last_notified_at }}</li>
                            {% endif %}
                            {% if election.feature_can_send_trustee_email and t.last_verified_key_at %}
                                <li class="list-group-item">{% trans "Trustee key last verified at" %}: {{ t.last_verified_key_at }}</li>
                            {% endif %}
                            {% if admin and election.feature_display_decryption_factors_status %}
                                {% if t.decryption_factors %}
                                    <li class="list-group-item">{% trans "Trustee completed partial decryption" %}</li>
                                {% else %}
                                    <li class="list-group-item">{% trans "Pending partial decryption from trustee" %}</li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div style="padding-top: 8px;">
                    {% if admin %}
                        {% if election.feature_can_send_trustee_email %}
                            <a href="{% url "election_trustee_send_url" election.uuid t.uuid %}" class="btn btn-primary">{% trans "Send trustee login url" %}</a>
                        {% endif %}
                        {% if election.feature_delete_trustee %}
                            <a href="{% url "election_trustee_delete" election.uuid t.uuid %}" class="btn btn-primary">{% trans "Delete trustee" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
