{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags crispy_forms_tags %}

{% block content %}
{% if election.feature_can_add_poll or poll %}

{% if election.linked_polls %}
    <form action="{% url "election_polls_add" election.uuid %}" method="post"
     enctype="multipart/form-data">
        {% csrf_token %}
        <label>{% trans "Batch polls update" %}</label>
        <input type="file" name="batch_file" />
        <br />
        <br />
        <input type="submit" class="button small" value="{% trans "Save" %}" />
    </form>
{% else %}
    <form data-protect="1" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mt-3">
            <a class="btn btn-secondary"
            href="{% url "election_polls_list" election.uuid %}">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endif %}

<script>
const jwt = document.getElementById("id_jwt_auth");
const jwt_file = document.getElementById("div_id_jwt_file");
const jwt_issuer = document.getElementById("div_id_jwt_issuer");
const jwt_key = document.getElementById("div_id_jwt_public_key");

function toggleJwtFields() {
  const display = jwt.checked ? "block" : "none";
  jwt_file.style.display = display;
  jwt_issuer.style.display = display;
  jwt_key.style.display = display;
}

jwt.addEventListener("change", toggleJwtFields);

toggleJwtFields();

const oauth = document.getElementById("id_oauth2_thirdparty");
const oauth_type = document.getElementById("div_id_oauth2_type");
const oauth_client = document.getElementById("div_id_oauth2_client_type");
const oauth_secret = document.getElementById("div_id_oauth2_client_secret");
const oauth_code = document.getElementById("div_id_oauth2_code_url");
const oauth_exchange = document.getElementById("div_id_oauth2_exchange_url");
const oauth_confirm = document.getElementById("div_id_oauth2_confirmation_url");
const oauth_clientid = document.getElementById("div_id_oauth2_client_id");

function toggleOauthFields() {
  const display = oauth.checked ? "block" : "none";
  oauth_type.style.display = display;
  oauth_client.style.display = display;
  oauth_secret.style.display = display;
  oauth_code.style.display = display;
  oauth_exchange.style.display = display;
  oauth_confirm.style.display = display;
  oauth_clientid.style.display = display;
}

oauth.addEventListener("change", toggleOauthFields);

toggleOauthFields();


const shibboleth = document.getElementById("id_shibboleth_auth");
const shibboleth_constraints = document.getElementById("div_id_shibboleth_constraints");

function toggleShibbolethFields() {
  const display = shibboleth.checked ? "block" : "none";
  shibboleth_constraints.style.display = display;
}

shibboleth.addEventListener("change", toggleShibbolethFields);

toggleShibbolethFields();

</script>
{% endif %}
{% endblock %}
